/* Layout ------------------------------------------------------------------*/
/* line 7, ../sass/screen.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
